<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="hstyle.css">
</head>
<body>
    <h1 class="title"> WELCOME <%=name%></h1>
<div class="user-profile">
  <img id="avatar" src= "Thank You Stickers - 40,000 Results _ Zazzle.jpeg">
    <div id="fullname"><%=name%></div>
  <!-- <div id="username">
    goldendog885
  </div> -->
    <div class="description">

      <div>Email: <span id="email"><%=email%></span></div>
      <div>City: <span id="city"></span>calicut</div>
  </div>
  <div class="footer">
    <a href="/logout"><button id="btn">LOG OUT</button></a>
    
 </div>
</div>
<script src="/validate.js"></script>
<script src="/animation.js"></script>

</html>

</body>
